.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  margin: 0 auto 1rem;
  border-radius: 12px;
  background: var(--ifm-color-primary);
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: var(--ifm-font-family-monospace);
}
